
.tab-nav__list{
    @apply flex flex-col gap-y-10;
}

.tab-nav__list-item{
    @apply 
    flex 
    rounded-xl 
    items-center 
    gap-3
    relative
    z-[1]
    cursor-pointer
    pe-4

    before:content-['']
    before:absolute
    before:w-[4.5rem]
    before:h-full
    before:top-0
    before:start-0
    before:translate-x-3
    before:translate-y-3
    before:rounded-xl
    before:bg-primary
    before:bg-opacity-50
    before:-z-[1]
    before:transition-all
    before:duration-300

    after:content-['']
    after:absolute
    after:w-[6rem]
    after:h-full
    after:top-0
    after:start-0
    after:rounded-xl
    after:bg-primary
    after:-z-[1]
    after:transition-all
    after:duration-300

}
.tab-nav__list-item.active{
    @apply 
    text-white
    before:w-[calc(100%-1.5rem)]
    after:w-full
}

